@{
	Layout = "";    
}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Home-Dentis </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
								<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="~/images/logo.svg" alt="" /></span>
									<span class="title">Dentis</span>
									<span class="title">@ViewBag.ClinicConsultingName</span>
								</a>
						</div>
					</header>
				
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Hola @ViewBag.UserName bienvendido a Dentis, seleccione que desea hacer</h1>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>	
								@Html.ActionLink("Haga clic aquí para registrar al paciente y enviarlo a la cola de espera","Add","PatientRegistration")
								</article>
								<article class="style2">
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
										@Html.ActionLink("Consulte el estado de la cola","Index","Queue")
								</article>
@*								<article class="style3">
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>	
								@Html.ActionLink("Haga clic aquí para entrar los ajustes genrales","Add","Clinic")
								</article>*@
							</section>
						</div>
					</div>


			</div>

		<!-- Scripts -->
			<script src="~/assets/js/jquery.min.js"></script>
			<script src="~/assets/js/browser.min.js"></script>
			<script src="~/assets/js/breakpoints.min.js"></script>
			<script src="~/assets/js/util.js"></script>
			<script src="~/assets/js/main.js"></script>

	</body>
</html>