@model Dentis.Models.ClientViewModel
@{
	Layout = "";
}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Dentis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/assets/css/main.css" />
		<noscript><link rel="stylesheet" href= "~/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
	@using(Html.BeginForm("Edit", "Client", FormMethod.Post))
	{
	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="~/images/logo.svg" alt="" /></span><span class="title">Dentis</span>
								</a>
						</div>
						<!-- Nav -->
							<nav>
								<ul>
									<li><a href="#menu">Menu</a></li>
								</ul>
							</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li>@Html.ActionLink("Seleccionar cliente", "SelectClient", "Client")</li>
							<li>@Html.ActionLink("Registrar paciente", "Add", "PatientRegistration")</li>
							<li>@Html.ActionLink("Pacientes en cola", "Index", "Queue")</li>
							<li>@Html.ActionLink("Seleccionar consultorio", "Index", "ConsultingSelection")</li>
							<li>@Html.ActionLink("Salir", "Index", "Login")</li>
						</ul>
					</nav>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Indique los datos del cliente</h2>

									<div class="fields">
										<div class="field half">
											@Html.HiddenFor(x=> x.ClientId)
											@Html.TextBoxFor(x => x.IdentificationNumber, new { @readonly = true})	
										</div>
										<div class="field half">
											@Html.TextBoxFor(x => x.ClientName, new { placeholder = "Nombre"})
											 <span asp-validation-for="ClientName" class="text-danger"></span>
										</div>
										<div class="field half">
											@Html.DropDownListFor(t => t.Gender, (SelectList)ViewBag.Gender)
										</div>
										<div class="field half">
											@Html.TextBoxFor(m => m.BirthDate, new { @class = "getdate", @readonly = true })
											 <span asp-validation-for="BirthDate" class="text-danger"></span>
										</div>
										<div class="field half">
											@Html.TextBoxFor(x => x.ClientAddress, new { placeholder = "Dirección"})
										</div>
										<div class="field half">
											@Html.TextBoxFor(x => x.ClientCellPhone, new { placeholder = "Número de Teléfono"})
										</div>
										<div class="field half">
											@Html.TextBoxFor(x => x.ClientEmail, new { placeholder = "Email"})
										</div>
									</div>
									<br>
									<ul class="actions">
										<li><input type="submit" value="Actualizar" class="primary" /></li>
										<li><input type="button" value="Realizar presupuesto" class="primary"  onclick="location.href='@Url.Action("Index", "Queue")'" /></li>
									</ul>
								</section>
						</div>
					</footer>
			</div>	
	}

		<!-- Scripts -->
		<script src="~/assets/js/jquery.min.js"></script>
		<script src="~/assets/js/browser.min.js"></script>
		<script src="~/assets/js/breakpoints.min.js"></script>
		<script src="~/assets/js/util.js"></script>
		<script src="~/assets/js/main.js"></script>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/4.1.0/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/4.1.0/bootstrap.min.css" />
		<script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>
	    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
		<script>
			$(document).ready(function () {
				$(".getdate").each(function () {
					$(this).datepicker({ format: 'dd/mm/yyyy' });
				});
			});
		</script>
	</body>
</html>


