@model List<Dentis.Models.Queue> 
@{
	Layout = "";   
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Dentis - Pacientes en cola</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>

		<style>
			.myDiv {
			  border: 5px outset red;
			  background-color: lightblue;
			  text-align: center;
			}
		</style>

	</head>
	<body class="is-preload">
			<div id="confirmDialog" class="myDiv"  title="Remove Assignment" hidden class="inner">
					<p>Do you want to save changes </p>
			</div>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="~/images/logo.svg" alt="" /></span><span class="title">Dentis</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li>@Html.ActionLink("Registrar paciente", "Add", "PatientRegistration")</li>
							<li>@Html.ActionLink("Realizar presupuesto","Add","Client")</li>
							<li>@Html.ActionLink("Seleccionar consultorio", "Index", "ConsultingSelection")</li>
							<li>@Html.ActionLink("Salir", "Index", "Login")</li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Table -->
								<section>
									<h2>Pacientes en cola</h2>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>#</th>
													<th>Paciente</th>
													<th>Genero</th>
													<th>Edad</th>
													<th>Motivo de Consulta</th>
													<th>Estatus</th>
												</tr>
											</thead>
											<tbody>
												@{
													int counter = 0;
												}
												@foreach (var queue in Model)
												{
													counter++; 
													<tr>
														<td>@counter</td>
														<td>@queue.PatientName</td>
														<td>@queue.PatientGender</td>
														<td>@queue.PatientAge</td>
														<td>@queue.AppointmentReasonName</td>														
														<td id="@queue.PatientId">
															@Html.ActionLink("Atender", "UpdateStatus", "Queue", new {patiendId = queue.PatientId }, new { @id = "btnDelete" })
														</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
									<br>
									<ul class="actions">
										<li><input type="button" value="Registrar paciente" class="primary"  onclick="location.href='@Url.Action("Add", "PatientRegistration")'" /></li>
									</ul>
								</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright Carlos Ceballos">
								<li>&copy; Dentis. All rights reserved</li><li></li>
							</ul>
						</div>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="~/assets/js/jquery.min.js"></script>
			<script src="~/assets/js/browser.min.js"></script>
			<script src="~/assets/js/breakpoints.min.js"></script>
			<script src="~/assets/js/util.js"></script>
			<script src="~/assets/js/main.js"></script>
			@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

			PARA DIALOGO: FUNCIONA PERO NO SE VE VIEN EN LOS ESTILOS

@*			<script src="~/assets/js/browser.min.js"></script>
			<script src="~/assets/js/breakpoints.min.js"></script>
			<script src="~/assets/js/util.js"></script>
			<script src="~/assets/js/main.js"></script>
			<script src="~/lib/jquery/dist/jquery.js"></script>
			<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

			<script>
				$(function () {
					var patiendId = 0;
 
					$('a[id*=btnDelete]').click(function (e) {
						debugger;
						e.preventDefault();
						patiendId = $(this).parent()[0].id;
						$('#confirmDialog').data('id', patiendId).dialog('open');
					});
 
					$("#confirmDialog").dialog({
						autoOpen: false,
						modal: true,
						resizable: false,
						buttons: {
							"Ok": function () {
								window.location.href ="Queue/UpdateStatus?patiendId=" + patiendId;
							},
							"Cancel": function (e) {
								$(this).dialog("close");
							}
						},
					});
				});
			</script>
*@	</body>
</html>

