@model SecurityUserModel
@{
  Layout = "";    
}
<!DOCTYPE HTML>
<html>
      <head>
        <title>Dentis</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="~/assets/css/main.css" />
        <noscript><link rel="stylesheet" href= "~/assets/css/noscript.css" /></noscript>
      </head>
	<body class="is-preload">
    @using(Html.BeginForm("AccesLogin", "Login", FormMethod.Post))
	{
		<!-- Wrapper -->
		<div id="wrapper">

        <!-- Header -->
          <header id="header">
            <div class="inner">
              <!-- Logo -->
                <a href="index.html" class="logo">
                  <span class="symbol"><img src="~/images/logo.svg" alt="" /></span><span class="title">Dentis</span>
                </a>
              @if (ViewBag.InvalidUser == "true")
              {
                <h1 style="color: #be3113 ">Usuario o clave inválida</h1>
              }
                 <h2 style="color:#4cbece">Sistema de atención odontólogica</h2>
            </div>

		<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>
          </header>

			<!-- Menu -->
			  <nav id="menu">
				<h2>Menu</h2>
				<ul>
				  <li>@Html.ActionLink("Home","Index","Home")</li>
				  <li>@Html.ActionLink("Salir", "Index", "Login")</li>
				</ul>
			  </nav> 

			<div id="main">
				<div class="inner">
					<!-- Form -->
						<section>
							<div class="box alt">
								<div class="row gtr-uniform">
									<div class="col-12"><span class="image fit"><img src="images/settings-banner.png" alt="" /></span></div>
								</div>
							</div>
						</section>
						<br/>
								<section>
									<h2>Ajustes Generales</h2>
									<div class="row">
										<div class="col-6 col-12-medium">
											<h3>Cliníca y Consultorio</h3>
											<ul>
												<li>@Html.ActionLink("Agregar Cliníca","Add","Clinic")</li>
												<li>@Html.ActionLink("Modificar Cliníca","SelectClinic","Setting")</li>
												<li>@Html.ActionLink("Agregar Consultorio","AddNewConsulting","ClinicConsulting")</li>
												<li>Modificar Consultorio</li>
											</ul>
										</div>
										<div class="col-6 col-12-medium">
											<h3>Seguridad</h3>
											<ul>
												<li>Cambiar Password</li>
												<li>@Html.ActionLink("Agregar Usuario","Add","User")</li>
												<li>@Html.ActionLink("Modificar Usuario","SelectUser","Setting")</li>
											</ul>
										</div>
									</div>
								</section>

				</div>
			</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
                      <ul class="copyright">
                        <li>&copy; Dentis. All rights reserved</li>
                      </ul>
					</div>
				</footer>
		</div>	
	}
    <!-- Scripts -->
      <script src="~/assets/js/jquery.min.js"></script>
      <script src="~/assets/js/browser.min.js"></script>
      <script src="~/assets/js/breakpoints.min.js"></script>
      <script src="~/assets/js/util.js"></script>
      <script src="~/assets/js/main.js"></script>
      @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	</body>
</html>