@model Dentis.Models.SecurityUserModel
@{
	Layout = "";    
}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Dentis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/assets/css/main.css" />
		<noscript><link rel="stylesheet" href= "~/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
	@using(Html.BeginForm("Edit", "User", FormMethod.Post))
	{
		<!-- Wrapper -->
		<div id="wrapper">

			  <!-- Header -->
			  <header id="header">
				<div class="inner">

				  <!-- Logo -->
					<a href="index.html" class="logo">
					  <span class="symbol"><img src="~/images/logo.svg" alt="" /></span><span class="title">Dentis</span>
					  <br />
					  <span class="title">@ViewBag.ConsultingName</span>
					</a>
				</div>
				<!-- Nav -->
				  <nav>
					<ul>
					  <li><a href="#menu">Menu</a></li>
					</ul>
				  </nav>
			  </header>

			<!-- Menu -->
			  <nav id="menu">
				<h2>Menu</h2>
				<ul>
				  <li>@Html.ActionLink("Ajustes", "Index", "Setting")</li>
				  <li>@Html.ActionLink("Salir", "Index", "Login")</li>
				</ul>
			  </nav> 

				<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Form -->
						<section>
							<h5>Modificar usuario</h5>
							<br/>
							<br/>
								<div class="row gtr-uniform">
									<div class="col-6 col-12-xsmall">
										<strong>Nombre:</strong>
										@Html.HiddenFor(x => x.SecurityUserId)
										@Html.TextBoxFor(x => x.SecurityUserName, new { placeholder = "Nombre", tabindex = "0" })
										<span asp-validation-for="SecurityUserName" class="text-danger"></span>
									</div>
									<div class="col-6 col-12-xsmall">
										<strong>Login:</strong>
										@Html.TextBoxFor(x => x.UserLogin, new { placeholder = "Login"})
										<span asp-validation-for="UserLogin" class="text-danger"></span>
									</div>
									<div class="col-6 col-12-xsmall">
										<strong>Password:</strong>
										@Html.TextBoxFor(x => x.UserPassword, new { placeholder = "Password"})
									</div>
									<div class="col-6 col-12-xsmall">
										<strong>Tipo:</strong>
										@Html.DropDownListFor(t => t.SecurityUserTypeId, (SelectList)ViewBag.UserType)
									</div>
									<div class="col-12">
										<strong>Estatus:</strong>
										@Html.DropDownListFor(t => t.SecurityUserStatus, (SelectList)ViewBag.Status)
									</div>
									<div class="col-12">
										<ul class="actions">
										<li><input type="submit" value="Actualizar" class="primary" /></li>
										</ul>
									</div>
								</div>
						</section>
				</div>
			</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
						</div>
					</footer>
		</div>	
	}
			<!-- Scripts -->
			<script src="~/assets/js/jquery.min.js"></script>
			<script src="~/assets/js/browser.min.js"></script>
			<script src="~/assets/js/breakpoints.min.js"></script>
			<script src="~/assets/js/util.js"></script>
			<script src="~/assets/js/main.js"></script>
			<link rel="stylesheet" href="~/lib/bootstrap/dist/css/4.1.0/bootstrap-datepicker.min.css" />
			<link rel="stylesheet" href="~/lib/bootstrap/dist/css/4.1.0/bootstrap.min.css" />
			@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	</body>
</html>


